### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

fetchData/
output/Lines
output/Stations
output/web/lines
output/web/stations
output/web/stationPage
/parseCache
Pipfile.lock
